body{
    background-color: #111010;
   }
   
header{
       position: fixed;
       width: 100%;
       top: 0;
       z-index: 100;
       transition: 0.3s ease-in-out;
   }
   .nav-active {
     background-color: black;
       opacity: 90%;
       box-shadow: 5px -1px 12px -5px grey;
   }
   .navigation-wraper{
       display: flex;
       justify-content: space-around;
       padding: 30px;
       position: relative;
   }
   
   #nav-ul{
       display: flex;
       max-width: 800px;
       width: 100%;
   }
   .nav-active {
    background-color:black;
    opacity: 90%;
    box-shadow: 5px -1px 12px -5px grey;
}
   .toggle-menu{
       position: fixed;
       top: 10px;
       right: 10px;
       width: 30px;
       height: 30px;
       cursor: pointer;
       z-index: 100;
       display: none;
   }
.main-div-logo{
    width: 90px;
    height: 35px;
    border-style:solid;
    border-color: white;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 100%;
    height: 3px;
    background-color:  white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s linear;
}
.line1{
    top: 20%;
}
.line3{
    top: 80%;
}
.toggleActive .line1{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.toggleActive .line2{
  display: none;
}
.toggleActive .line3{
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.navigation.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color:#674c27;
    justify-content: center;
    align-items: center;
}
.a-tag{
    font-size: 25px;
    font-family: 'Josefin Slab';
    color: white;
    font-weight: 800;
}
.class-li{
    font-size: 20px;
    margin-left: 35px;
    font-family: 'Josefin Slab';
}
.li-tag{
    margin-left: 0;
}
.litag{
    margin-left: 0;
}


@media (max-width: 480px){
    .navigation{
        display: none;
    }
    .toggle-menu{
        display: block;
    }
    .navigation-wraper{
        flex-direction: column;
    }
    #nav-ul{
        flex-direction: column;
        align-items: center;
    }
    .active{
        display: block;
    }
    .activeli{
        font-size: 40px;
        margin-left: 0 !important;
        margin-bottom: 30px !important;
    }
}

/* slide styles*/
.image-slider {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  .slider-wraper {
    position: relative;
  }
  .arrow {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 50px;
    color: white;
    opacity: 40%;
    background-color: black;
  }
  .arrow-left {
    left:40px;
  }
  .arrow-right {
    right: 40px;
  }
  .dots-parent {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .child {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin: 10px;
  }
  .activeDot{
    opacity: 0.5;
  
  }
  .slider-wraper {
    position: relative;
  }
  .bg-image {
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size:cover;
  }
  /* slider inside div*/
#insideDiv{
    max-width: 600px;
    width: 100%;
    height: 110px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutme{
    font-size: 40px;
    text-align: center;
    font-family: 'Josefin Slab';
    font-weight: 700;
    color: white;
}
/*second section*/
.second-section{
    margin-top: 100px;
    margin-bottom: 200px;
}
.second-section-div{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.background-div{
    max-width:500px;
    width: 100%;
}
.cv-pic{
    width: 100%;
}
.about-div{
    max-width: 500px;
}
.bio-h3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Josefin Slab';
    color: #fff;
}
.bio-p{
    font-size: 20px;
    font-family: 'Josefin Slab';
    color: #fff;
    margin-bottom: 40px;
}
.bio-text{
    font-size: 25px;
    font-family: 'Josefin Slab';
    color: #fff;
    margin-bottom: 10px;
}
.know1{
    max-width: 490px;
    width: 100%;
    height: 10px;
    background-color:white;
    border-radius: 5px;
    margin-bottom: 30px;
}
.inside-div2{
    width: 95%;
    height: 100%;
    background-color: #b35900;
    border-radius: 5px;
}
.inside-div3{
    width: 83%;
}
.inside-div4{
    width: 61%;
}
.inside-div5{
    width: 20%;
}
/*third section*/
.third-section{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.portfolio-h3{
    color: white;
    font-size: 45px;
    margin-bottom: 100px;
}
.portfolio-div{
    max-width: 1100px;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: 20px;
    column-gap: 20px;
}
.background-img-link{
    background-image: url('../images/portfolio/burger.jpg');
    height: 250px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 60%;
    position: relative;
}
.link2{
    background-image: url('../images/portfolio/coffee.jpg');
}
.link3{
    background-image: url('../images/portfolio/hottel.jpg');
}
.link4{
    background-image: url('../images/portfolio/portfolio1.jpg');
}
.click-div{
    max-width: 250px;
    width: 100%;
    height: 100px;
    border-radius: 40px;
    border-width: 3px;
    border-color: #fff;
    border-style: solid;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.a-links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: #fff;
    font-family: 'Josefin Slab';
}
.click-div:hover{
    max-width: 270px;
    width: 100%;
    height: 110px ;
    background-color: black;
}
/*fourth section*/
.fourth-section{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.fourth-section-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.background-div2{
    max-width: 450px;
    margin-top: 150px;
}
.job-pic{
    width: 100%;
}
.resume-h3{
    margin-top: 150px;
    text-align: center;
}
.left-edu-div{
    max-width: 550px;
    width: 100%;
}
.educate-h4{
    font-size: 30px;
    color: white;
    font-family: 'Josefin Slab';
    margin-bottom: 60px;
}
.educate-divs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px white solid;
}
.p-edu{
    font-size: 19px;
    color: gray;
    font-family: 'Josefin Slab';
    margin-bottom: 10px;
}
.location-edu{
    font-size: 14px;
    color: white;
}

.time{
    font-size: 19px;
    color: gray;
    font-family: 'Josefin Slab';
}
.work-h4{
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
}
/*fifth section*/
.fifth-section{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.fifth-h3{
    margin-top: 150px;
    margin-bottom: 150px;
    color: #fff;
    font-size: 45px;
    text-align: center;
}
.fifth-div{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-forms{
    max-width: 500px;
}